beautifulsoup4==4.12.2
brotli==1.1.0
ConfigParser==6.0.0
cryptography==41.0.5
Cython==3.0.4
dl==0.1.0
docutils==0.20.1
HTMLParser==0.0.2
importlib_metadata==6.8.0
keyring==24.2.0
lockfile==0.12.2
lxml==4.9.2
numpy==1.24.2
ordereddict==1.1
protobuf==4.24.4
pyOpenSSL==23.3.0
selenium==4.14.0
toml==0.10.2
tornado==6.3.3
xmlrpclib==1.0.1
zipp==3.17.0
